.container {
    height: 100vh;
  }
  
  .wrapper {
    background-color: #FFFFFF;
    
    height: 100%; 
    margin-bottom: 10px;
  }
  
  .rowFullHeight {
    background-color: #fff;
    height: 100%;
  }