@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.contain{
  font-family: "Nunito", sans-serif;
}
.navbar-brand {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.custom-button:hover {
  color: black;
  border-color: black; /* Tùy chọn nếu muốn viền đổi màu */
}

  