@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.navbar-brand {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  