

.notification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #55cfeb; /* Màu vàng nhạt */
    border-radius: 5px;
    padding: 20px;
    color: #55cfeb; /* Màu chữ vàng nhạt */
    font-family: Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    max-width: 800px; /* Điều chỉnh độ rộng tối đa */
    margin: 20px auto; /* Căn giữa thông báo */
  }
  
  // Ensure the Categories component takes up the full height
.Categories {
  min-height: 100%; // Force it to take the full available height
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .notification-icon {
    margin-bottom: 12px;
    font-size: 35px;
  }
  
  h1 {
    color: black;
    font-size: 80px;
    text-align: center;
  }
  
  @keyframes fire {
    0% {
      background-position: 0% -50%;
    }
    100% {
      background-position: 0% -25%;
    }
  }


  

  



  