.forgotPasswordPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;

    .forgotPasswordContainer {
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 450px;
        text-align: center;
        position: relative; // Added for positioning the back arrow

        .backToLogin {
            position: absolute;
            top: 1rem; // Adjust according to your needs
            left: 1rem;
            font-size: 1rem;
            color: #4f46e5;

            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: #4338ca;
                }

                .fa-arrow-left {
                    margin-right: 0.5rem; // Space between icon and text
                }
            }
        }

        .formTitle {
            font-size: 2rem;
            color: #1f2937;
            margin-bottom: 0.5rem;
        }

        .formDescription {
            color: #6b7280;
            margin-bottom: 1.5rem;
        }

        .formWrapper {
            margin-bottom: 1.5rem;
        }

        .formGroup {
            margin-bottom: 1rem;
        }

        input {
            border: 1px solid #d1d5db;
            border-radius: 0.5rem;
            padding: 0.75rem;
            width: 100%;
            font-size: 1rem;

            &:focus {
                border-color: #4f46e5;
                box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.25);
                outline: none;
            }
        }

        .submitButton {
            width: 100%;
            margin-top: 1rem;
            background-color: #4f46e5;
            border: none;
            padding: 0.75rem;
            color: white;
            font-size: 1rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s;

            &:hover {
                background-color: #4338ca;
            }
        }
    }
}
