.wrapper{
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.header{
    color: #f2f2f2;
    background-color: #4562EB;
    border-radius: 10px;
}