
.sector1 {
  border-radius: 2rem;
  background-color: #f280a3;
  padding: 2rem;
  // margin-left: 11%;
}

.section1{
margin-top: -1%;
margin-left: -1%;

}


.sector2 {
  border-radius: 2rem;
  background-color: #b6b5f5;
  padding: 2rem;
  margin-left: 1%;
 
}

.section2{
margin-top: -1%;

}

.sector3 {
  border-radius: 2rem;
  background-color: #c5d68b;
  padding: 2rem;
  // margin-left: 11%;
}

.section3{
margin-top: -1%;
margin-left: -1%;

}

.sector4 {
  border-radius: 2rem;
  background-color: #f7a474;
  padding: 2rem;
  margin-left: 1%;
 
}

.section4{
margin-top: -1%;

}

.sector5 {
  border-radius: 2rem;
  background-color: #b6ccdb;
  padding: 2rem;
  margin-left: 1%;
 
}

.section5{
margin-top: -1%;

}

.rowHalfAbove {
margin: 2%;
}

.user_table {
  background-color: #f7a474;
  border-radius: 30px;
  padding: 30px;
  
}




.table-container {
  border-radius: 20px;
  overflow: hidden;
  padding: 0% auto;
  margin-bottom: -0.6%;
  overflow-x: auto;

}



.table-container {
  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      border: none; // Removes all borders
     
      padding: 8px;
      text-align: left;
    }
  }
}



.adminPage{
  padding-top: 3rem;
  padding-left: 1rem;
  background-color: #fff;
}