.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa; // Light background for contrast
  color: #343a40; // Dark text color for readability
  padding: 20px;

  h1 {
    font-size: 6rem; // Large font size for the error code
    margin: 0;
    color: #dc3545; // Bootstrap danger color for emphasis
  }

  h2 {
    font-size: 2rem; // Slightly smaller than the error code
    margin: 10px 0;
  }

  p {
    font-size: 1.25rem; // A bit larger for better readability
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px; // Adjust button size
    font-size: 1rem; // Ensure button text is readable
  }

  // Responsive adjustments
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem; // Reduce size on small screens
    }

    h2 {
      font-size: 1.5rem; // Adjust accordingly
    }

    p {
      font-size: 1rem; // Adjust accordingly
    }
  }
}
.notification-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dc3545;
  border-radius: 5px;
  padding: 20px;
  color: #dc3545; 
  font-family: Arial, sans-serif;
  font-size: 15px;
  width: 100%;
  max-width: 800px; /* Điều chỉnh độ rộng tối đa */
  margin: 20px auto; /* Căn giữa thông báo */
}


.notification-icon {
  margin-bottom: 12px;
  font-size: 35px;
}