.container {
  height: 100vh;
  }
  
  .rowFullHeight {
    background-color: #EAECF0;
    height: 100%;
  }

  .wrapper {
    background-color: #FFFFFF;
    padding: 10px;
    height: 100%; 
    margin-bottom: 10px;
  }
  
