@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); 
* {
    /*Kế thừa box-sizing từ thẻ chứa nó*/
    box-sizing: inherit;
}
html {
    /*Default font-size: 16px*/
    font-size: 100%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    box-sizing: border-box;
}
p {
    font-size: 1rem;
    line-height: 1rem;
}
.grid {
    /*Nếu cửa sổ nhỏ hơn 1200px .grid sẽ thu nhỏ chiều rộng không cho vượt quá 100%*/
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full-width {
    width: 100%;
}
.grid_row {
    display: flex;
    flex-wrap: wrap;
}
